/* .mat-card {
    width: 400px;
    margin: 2rem auto;
  } */
  .mat-card{
    padding-bottom: 0px;
    height: 540px;
  }
  .mat-card .mat-card-actions {
    padding-top: 0;
  }
  .mat-card .mat-button {
    margin: 0 auto;
    display: block;
  }