<div fxLayout="row">
  <mat-toolbar color="primary" 
    fxFlex.xg="50%" fxFlexOffset.xg="25%" 
    fxFlex.lg="50%" fxFlexOffset.lg="25%" 
    fxFlex.md="50%" fxFlexOffset.md="25%"
    fxFlex.sm="50%" fxFlexOffset.sm="25%" 
    fxLayoutAlign="center center"
    style="font-size: 20px; font-weight: bold;">
    {{ title }}
  </mat-toolbar>
</div>
<div fxLayout="row" style="font-size: 18px">
  <app-img-card 
    fxFlex.xg="50%" fxFlexOffset.xg="25%" 
    fxFlex.lg="50%" fxFlexOffset.lg="25%" 
    fxFlex.md="50%" fxFlexOffset.md="25%"
    fxFlex.sm="50%" fxFlexOffset.sm="25%" 
    fxLayoutAlign="center center"></app-img-card>
</div>

